[user]
	email = eduarbastidas10@gmail.com
	name = Eduar Bastidas
[push]
	autoSetupRemote = true
[diff]
	external = difft
[merge]
	conflictStyle = diff3
[merge "mergiraf"]
	name = mergiraf
	driver = mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P -l %L
